/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* Content Styling*/

#style_h2 {
	color: red;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px black;
	margin-bottom: 4px;
}

h2, h3 {
	color: white;
}

	
#col_feed {
	font-family: 'Droid Sans', sans-serif;
	column-width: 240px;
	column-count: 2;
}
/* Basic Styles */

#sub {
	background-color: blue;
	color: white;
	width: 90px;
}
body {
	background: URL("msg.jpg");
	background-size: 100%;
}

.main_title {
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: red;
	text-shadow: 2px 2px black;
	font-size: 60px;
	margin-bottom: 0;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 10px white;
    }
}


.logo {
	border-radius: 50%;
	height: 300px;
	display: block;
	margin: 0 auto;
	box-shadow: 7px 7px 5px black;
}

.logo_sm {
	border-radius: 50%;
	height: 100px;
	display: block;
	float: right;
	margin-right: 40px;
	box-shadow: 5px 5px 3px black;
}	

nav {
	height: 40px;
	width: 100%;
	background: #0000FF;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	position: relative;
	border-bottom: 2px solid #283744;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}
nav li a {
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #DC143C;

}
nav a#pull {
	display: none;
}

#info {
	display: inline-block;
	text-align: center;
}

#signup {
	text-align: center;
}
.btn_link {
	color: red;
	text-decoration: none;
}
.btn_link<a:hover {
    text-decoration: underline;
}
#buttons_h1 {
	color: red;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px black;
}

#flash_h1 {
	color: #4169E1;
	font-family: 'Audiowide', cursive;
	text-shadow: 1px 1px black;
}

textarea { 
height: 80px;
 }

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
  	.main_title {
		font-size: 45px;
	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: background: #0000FF;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('http://media02.hongkiat.com/responsive-web-nav/demo/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	.main_title {
		font-size: 30px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {

	.main_title {
		font-size: 30px;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}

#goal{

    width: 200px;
    position: relative;
    z-index: -1;
    right: 275px;
    clear: both;

}

body {

    overflow-x: hidden;
}
.s {

    display: none;
}


.purplebloated {

border: 4px solid white;
border-collapse: collapse;
text-align: center;

height: 150px;
width: 32%;
margin: 0 auto;
margin-top: 25px;
float: left;


}

#create {

    color: white;
}

#create:hover{

    color: blue;
}
#their {
   text-align: center;
   color: red;

}